<!DOCTYPE html>
<html>
<head>
    <title>Update User Info</title>
</head>
<body>
    <h1>Update User Info</h1>
    <form action="/update-info" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= user.username %>" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>" required>

        <input type="submit" value="Update">
    </form>
</body>
</html>
